extends layout

block content
  h1= title
  p #{description}
  br
  <% for(var x=0;x<assetList.length;x++) { %>
  a(href="/<%= assetList[x].name %>" class="btn btn-success") <%= assetList[x].name %>
  br
  br
  <% } %>
  <% for(var x=0;x<transactionList.length;x++) { %>
  a(href="/trx/<%= transactionList[x].name %>" class="btn btn-primary") <%= transactionList[x].name %>
  br
  br
  <% } %>
  a(href="/Transaction" class="btn btn-danger") Transactions
  br
  br
